<ion-content>
    <video #playerEl class="video-js" controls style="max-width:100vw" data-setup='{}'>
        <source #sourceEl id="video" src="http://localhost:5000/stream" type="video/mp4">
    </video>
    <ion-grid>
        <ion-row>
            <ion-col size="12">

                <ion-card>
                    <ion-card-header>
                        <ion-title>Options</ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none" color="none" [detail]="false">
                            <ion-checkbox slot="start"></ion-checkbox>
                            <ion-label >Ready</ion-label>
                        </ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button size="small" (click)="player.play()">
                                        <ion-icon name="play"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button size="small">
                                        <ion-icon name="volume-low"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button size="small">
                                        <ion-icon name="volume-high"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button size="small">
                                        <ion-icon name="volume-mute"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button size="small">
                                        <ion-icon name="volume-mute"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>



                        <p>Speed: {{speed}}mb/s</p>

                        <p>Peers: {{peers}}</p>
                        <ion-progress-bar [value]="buffer" [buffer]="progress"
                                          [color]="progress == 1 ? 'success' : 'primary'"></ion-progress-bar>

                    </ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <app-room></app-room>
</ion-content>
