<ion-content>
    <video #player class="video-js" controls style="max-width:100vw" data-setup='{}'>
        <source #source id="video" src="http://localhost:5000/stream" type="video/mp4">
    </video>
    <ion-grid>
        <ion-row>
            <ion-col size="12">

            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-card-header>

                        <ion-card-header>Download progress</ion-card-header>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-spinner></ion-spinner>
                        <p>Speed: {{speed}}mb/s</p>

                        <p>Peers: {{peers}}</p>
                        <ion-progress-bar [value]="buffer" [buffer]="progress"
                                          [color]="progress == 1 ? 'success' : 'primary'"></ion-progress-bar>

                    </ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <app-room></app-room>
</ion-content>
