<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            User details
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="user && room">
        <ion-row>
            <ion-col>
                <ion-item color="none" lines="none">
                    <ion-avatar slot="start">
                        <ion-img src="./assets/default.png"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{user.firstName}} {{user.lastName}}</h2>
                        <p>{{user.email}}</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                Queue
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="danger" fill="outline" class="ion-padding"
                            *ngIf="auth.userId == room.Owner && user._id !== room.Owner"
                            (click)="kickUser()">
                    Kick user
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
