<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="loginForm" #form="ngForm" (ngSubmit)="login(form)">
    <ion-item-group>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input name="email" ngModel required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input name="password" ngModel required type="password"></ion-input>
        </ion-item>
    </ion-item-group>

    <ion-button type="submit">Login</ion-button>
  </form>
</ion-content>
