<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rooms">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Rooms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-room" color="primary">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>New room</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


<!--  <ion-button expand="block" routerLink="/player" routerDirection="root" class="ripple-parent">
    Player
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-button>-->
</ion-tabs>
