<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Join a room
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list>
        <ion-item slot="start" *ngFor="let room of rooms" button="true" detail="false" (click)="joinRoom(room)">
            <ion-label>
                {{room.Id}}
            </ion-label>
            <ion-icon slot="end" name="lock-closed-outline" *ngIf="room.Password" color="success"></ion-icon>
            <ion-icon slot="end" name="lock-open-outline" *ngIf="!room.Password" color="danger"></ion-icon>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item *ngIf="rooms.length == 0" lines="none">
            <ion-label class="ion-text-wrap">
                No rooms are currently available! Please try again later...
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
