<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Invite user to room
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="loginForm" #form="ngForm" (ngSubmit)="inviteUser(form)">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="ion-margin" color="none">
            <ion-label position="stacked">User email</ion-label>
            <ion-input name="email" type="email" ngModel required placeholder="example@user.com"
                       inputmode="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-grid>
          <ion-button expand="block" type="submit" class="ion-padding" color="success">Invite</ion-button>
        </ion-grid>
      </ion-row>
    </ion-grid>


  </form>

</ion-content>