<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Queue information
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="queueItem">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img [src]="'https://image.tmdb.org/t/p/original' + queueItem.PosterPath"></ion-img>
      </ion-col>
      <ion-col size="8">
        <h3>{{queueItem.Title}}</h3>
        <p>
          Released on: {{queueItem.Release}}
        </p>
        <p>
          {{queueItem.Overview}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" fill="outline" class="ion-padding"
                    *ngIf="auth.userId == room.Owner"
                    (click)="removeFromQueue()">
          Remove from queue
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>